---

---

<section class="space-y-4">
  <h2 class="text-2xl font-semibold text-sky-600">
    <span class="text-slate-400">## </span>Want to work with Newgent?
  </h2>
  <p class="text-sm text-slate-500">
    No matter if you're trying to build something, just starting out, or simply want to get in touch with us for a
    virtual coffee, you're more than welcome to reach out and say hello.
  </p>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2"></div>
</section>
