---
import NewgentCo from "../components/sections/NewgentCo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Kreativ rådgivning för nystartade företag"
  description="Newgent är ett konsultföretag inom kreativ management som hjälper dig att bygga ett bättre företag genom att förstå dina behov och samarbeta med dig för att uppnå dina mål."
  keywords={["kreativ management", "nystartade företag", "företag", "konsult", "management"]}
>
  <div class="mx-auto max-w-2xl space-y-12">
    <section class="space-y-4">
      <h1 class="text-3xl font-semibold text-sky-600">
        <span class="text-slate-400"># </span>A new generation of management.
      </h1>
      <p class="mt-2 text-sm text-slate-500">
        <span class="text-sky-600"><b>Newgent</b> (Digital)</span> är ett kreativt managementkonsultföretag som hjälper dig
        att bygga ett bättre företag. Vi är ett team av erfarna proffs som brinner för att hjälpa dig att nå dina mål. Oavsett
        om du är ett etablerat företag eller en nystartad verksamhet kan vi hjälpa dig att förverkliga dina idéer och mål.
      </p>
      <p class="mt-2 text-sm text-slate-500">
        Det vi gör handlar inte bara om teknik, det handlar om människor. Vi hjälper dig att bygga en bättre verksamhet
        genom att förstå dina behov och samarbeta med dig för att uppnå dina mål.
      </p>
    </section>
    <NewgentCo />
    <!--
      <WorkWithNewgent />
     -->
  </div>
</Layout>
