---
import { Picture } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import NewgentLogomark from '../assets/img/newgent-logomark.svg'
import Landing from '../layouts/Landing.astro'
import Footer from '../components/Footer.astro'
---

<Landing
	title="Home"
	description="Discover Newgent Digital, a leading Swedish holding and management company dedicated to fostering growth in the SaaS and creative sectors. We specialize in driving business success through innovative strategies and expert guidance."
>
	<main class="h-screen bg-gradient-to-t from-slate-900 to-slate-800">
		<div class="m-auto flex max-w-[600px] flex-col justify-center gap-8 p-12">
			<Picture
				src={NewgentLogomark}
				formats={['svg']}
				alt="Newgent Logomark"
				width={128}
				class="select-none"
			/>
			<div class="flex flex-col gap-4 text-slate-50">
				<h1 class="text-2xl font-semibold text-[#3083FF]">New generation management.</h1>
				<p class="text-base">
					<span class="font-semibold">Newgent (Digital)</span> is a Swedish-based holding and management
					company that excels in driving and building businesses within the SaaS and creative industries.
				</p>
				<p class="text-base">
					Newgent confidently embraces the new generation of digital transformation, crafting and
					managing innovative solutions for the future.
				</p>
			</div>
			<div class="flex gap-6 text-slate-400 underline underline-offset-2 transition duration-150">
				<a
					href="mailto:hey@newgent.digital"
					aria-label="Email us"
					class="flex items-center gap-2 hover:opacity-50"
					data-umami-event=`${Astro.url.pathname}: Email us <a>`
				>
					<Icon name="tabler:mail-filled" class="text-[#3083FF]" />Email us</a
				>
				<a
					href="https://www.linkedin.com/company/heynewgent/"
					target="_blank"
					aria-label="LinkedIn"
					class="flex items-center gap-2 hover:opacity-50"
					data-umami-event=`${Astro.url.pathname}: LinkedIn <a>`
				>
					<Icon name="tabler:brand-linkedin" class="text-[#3083FF]" />LinkedIn</a
				>
			</div>
			<hr class="my-4 border-t-[0.5px] border-solid border-slate-600" />
			<Footer />
		</div>
	</main>
</Landing>
