---
import Default from "../layouts/default.astro";
import { t } from "astro-i18n";
import { Picture, getImage } from "astro:assets";
import Button from "../components/button.astro";
import FooterLanguageSelector from "../components/footerLanguageSelector.astro";

import iconWhite from "../img/icon-white.svg";
import landingBg from "../img/landing-bg.png";

const optimizedLandingBg = await getImage({
  src: landingBg,
  quality: "max",
});
---

<Default title={t("home")}>
  <div
    class="flex h-full w-full items-center justify-center bg-cover bg-center py-12 sm:h-screen"
    style={`background-image: url(${optimizedLandingBg.src});`}
  >
    <div class="flex flex-col gap-12 px-8 md:flex-row md:p-0">
      <Picture
        src={iconWhite}
        alt=""
        width={128}
        height={128}
        class="select-none"
      />
      <div class="flex max-w-lg flex-col gap-6">
        <FooterLanguageSelector />
        <h1 class="text-4xl text-slate-50">
          {t("landing.heading")}
          <span class="font-bold text-nwg-sky drop-shadow-nwgskyGlow"
            >Newgent</span
          > Digital.
        </h1>
        <p class="text-slate-50">
          <b>Newgent <span class="text-nwg-sky">(Digital)</span></b>{
            t("landing.paragraph.1")
          }<br />{t("landing.paragraph.2")}<br /><br /><b
            >{t("lookingForCreative")}</b
          >
          {t("landing.visit")}
          <a
            href="https://hallin.media"
            target="_blank"
            class="font-bold text-[#E90000] underline decoration-2 underline-offset-2 transition duration-150 hover:opacity-70"
            data-umami-event=`Link (${Astro.url.pathname}): HallinMedia (https://hallin.media)`
            >HallinMedia</a
          >.
        </p>
        <div class="flex flex-col gap-4 md:flex-row">
          <Button
            style="solid"
            link="mailto:hey@newgent.digital"
            target="_self"
            showIcon="true"
            icon="mdi:email"
            text={t("emailUs")}
          />
          <Button
            style="outline"
            link="https://client.newgent.digital"
            target="_blank"
            showIcon="true"
            icon="mdi:heart"
            text={t("clientPortal")}
          />
        </div>
      </div>
    </div>
  </div>
</Default>
