---
import { Picture } from 'astro:assets'
import NewgentLogomark from '../assets/img/newgent-logomark.svg'
import Landing from '../layouts/Landing.astro'
import SocialLinks from '../components/socialLinks.astro'
---

<Landing
	title="Home"
	description="Discover Newgent Digital, a leading Swedish holding and management company dedicated to fostering growth in the SaaS and creative sectors. We specialize in driving business success through innovative strategies and expert guidance."
>
	<main class="flex flex-col justify-center gap-8">
		<Picture
			src={NewgentLogomark}
			formats={['svg']}
			alt="Newgent Logomark"
			width={128}
			class="select-none"
		/>
		<div class="flex flex-col gap-4 text-slate-50">
			<h1 class="text-xl font-semibold text-[#3083FF]">New generation management.</h1>
			<p>
				<span class="font-semibold">Newgent (Digital)</span> is a Swedish-based holding and management
				company that excels in driving and building businesses within the SaaS and creative industries.
			</p>
			<p>
				Newgent confidently embraces the new generation of digital transformation, crafting and
				managing innovative solutions for the future.
			</p>
		</div>
		<SocialLinks />
	</main>
</Landing>
