---
import IconTablerShieldCheckFilled from './icons/TablerShieldCheckFilled.astro'
import IconTablerShoppingCartFilled from './icons/TablerShoppingCartFilled.astro'
import IconTablerUserFilled from './icons/TablerUserFilled.astro'
---

<section class="flex flex-col gap-4 text-slate-50" id="landing-faq">
	<h2 class="text-lg font-semibold text-[#3083FF]">Frequently asked questions</h2>
	<div class="flex flex-col gap-3">
		<div id="faq1">
			<span class="font-semibold text-stone-50"
				><IconTablerUserFilled class="mb-1 mr-1 inline h-5 w-5 text-[#3083FF]" /> How do I access the
				project dashboard?</span
			>
			<p>
				If your project is on the Newgent platform, visit <a
					href="https://client.newgent.digital"
					target="_blank"
					class="underline underline-offset-2 transition duration-150 hover:opacity-75 active:opacity-50"
					>client.newgent.digital</a
				> to access it. If you need an account, please talk to your Newgent contact.
			</p>
		</div>
		<div id="faq2">
			<span class="font-semibold text-stone-50"
				><IconTablerShoppingCartFilled class="mb-1 mr-1 inline h-5 w-5 text-[#3083FF]" /> I've got an
				invoice/reciept I don't recognize. What did I pay for?</span
			>
			<p>
				We aim to break down each invoice and receipt clearly. If you think your invoice or receipt
				is wrong or not meant for you, please <a
					href="mailto:hey@newgent.digital"
					class="underline underline-offset-2 transition duration-150 hover:opacity-75 active:opacity-50"
					>email us</a
				>.
			</p>
		</div>
		<div id="faq3">
			<span class="font-semibold text-stone-50"
				><IconTablerShieldCheckFilled class="mb-1 mr-1 inline h-5 w-5 text-[#3083FF]" /> It says I'm
				blocked, why?</span
			>
			<p>
				Our document archive, signing platform, and file-sharing platform are only available in
				Sweden. If you're a client outside of Sweden or trying to access it from another country,
				please <a
					href="mailto:hey@newgent.digital"
					class="underline underline-offset-2 transition duration-150 hover:opacity-75 active:opacity-50"
					>email us</a
				>.
			</p>
		</div>
	</div>
</section>

<script>
	import gsap from 'gsap'

	gsap.from(['#faq1', '#faq2', '#faq3'], {
		y: 25,
		opacity: 0,
		duration: 1,
		ease: 'power2.out',
		stagger: 0.2,
		delay: 1.5
	})
</script>
