---
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import ImgIconDark from "../assets/icon-dark.svg";
import ImgIconLight from "../assets/icon-light.svg";

const translations = {
  en: {
    allRightsReserved: "All rights reserved.",
  },
  sv: {
    allRightsReserved: "Alla rättigheter förbehållna.",
  },
};

const astroLocale = Astro.currentLocale === "en" || Astro.currentLocale === "sv" ? Astro.currentLocale : "en";
---

<footer class="m-8 flex max-w-2xl flex-wrap items-center justify-between gap-4 border-t border-slate-300 pt-6">
  <div class="flex items-center justify-center gap-4">
    <a href={getRelativeLocaleUrl(astroLocale, "/")}>
      <Image
        src={ImgIconDark}
        alt="Newgent logo"
        width={32}
        height={32}
        class="block h-8 w-auto opacity-75 transition-opacity select-none hover:opacity-100 dark:hidden"
      />
      <Image
        src={ImgIconLight}
        alt="Newgent logo"
        width={32}
        height={32}
        class="hidden h-8 w-auto opacity-75 transition-opacity select-none hover:opacity-100 dark:block"
      />
    </a>
    <div class="flex flex-col text-sm text-slate-500">
      <p class="font-semibold">Newgent Digital</p>
      <p>Org nr. 559386-0066</p>
    </div>
  </div>
  <div class="flex flex-col text-right text-sm text-slate-500">
    <p>&copy; {new Date().getFullYear()} NWG Digital AB.</p>
    <p>{translations[astroLocale].allRightsReserved}</p>
  </div>
</footer>
