---
import IconTablerBrandLinkedIn from '../components/icons/tabler--brand-linkedin.astro'
import IconTablerMail from '../components/icons/tabler--mail-filled.astro'
---

<div class="flex flex-col gap-2 text-slate-400 underline underline-offset-2 sm:flex-row sm:gap-4">
	<a
		href="mailto:hey@newgent.digital"
		aria-label="Email us"
		class="flex items-center gap-2 transition duration-200 hover:opacity-50"
		data-umami-event=`${Astro.url.pathname}: Email us`
	>
		<IconTablerMail class="text-[#3083FF]" />Email us</a
	>
	<a
		href="https://www.linkedin.com/company/heynewgent/"
		target="_blank"
		aria-label="LinkedIn"
		class="flex items-center gap-2 transition duration-200 hover:opacity-50"
		data-umami-event=`${Astro.url.pathname}: LinkedIn`
	>
		<IconTablerBrandLinkedIn name="tabler:brand-linkedin" class="text-[#3083FF]" />LinkedIn</a
	>
</div>
