---
import IconTablerPalette from './icons/TablerPalette.astro'
import IconTablerBriefcase from './icons/TablerBriefcaseFilled.astro'
import IconTablerExternalLink from './icons/TablerExternalLink.astro'
---

<section class="flex flex-col gap-4 text-slate-50" id="landing-subsidaries">
	<h2 class="text-lg font-semibold text-[#3083FF]">What's next?</h2>
	<div
		class="relative flex flex-col gap-1 overflow-clip rounded-lg border border-[#3083FF] bg-[#3083FF]/15 p-4"
		id="card-1"
	>
		<h3 class="font-semibold">
			<IconTablerBriefcase class="mb-1 mr-1 inline h-5 w-5 text-[#3083FF]" /> Got questions regarding
			Newgent (e.g. services, invoices, etc)?
		</h3>
		<p>For any inquiries related to Newgents' operations and offerings, please email us.</p>
		<a
			href="mailto:hey@newgent.digital"
			target="_blank"
			class="w-fit transition duration-150 hover:opacity-75 active:opacity-50"
			data-umami-event=`${Astro.url.pathname}: LinkedIn`
			><span class="underline underline-offset-2">Email Newgent</span>
			<IconTablerExternalLink class="inline" /></a
		>
		<IconTablerBriefcase class="absolute -bottom-8 -right-8 -z-10 h-32 w-32 text-[#3083FF]/30" />
	</div>
	<div
		class="relative flex flex-col gap-1 overflow-clip rounded-lg border border-[#FF3030] bg-[#FF3030]/15 p-4"
		id="card-2"
	>
		<h3 class="font-semibold">
			<IconTablerPalette class="mb-1 mr-1 inline-block h-5 w-5 text-[#FF3030]" /> Are you looking for
			creative services?
		</h3>
		<p>
			To learn more about our top-of-the-line creative services, please visit our subsidiary
			"HallinMedia".
		</p>
		<a
			href="https://hallin.media/?ref=newgentdigital"
			target="_blank"
			class="w-fit transition duration-150 hover:opacity-75 active:opacity-50"
			data-umami-event=`${Astro.url.pathname}: Creative Services`
			><span class="underline underline-offset-2">Visit hallin.media</span>
			<IconTablerExternalLink class="inline" /></a
		>
		<IconTablerPalette class="absolute -bottom-8 -right-8 -z-10 h-32 w-32 text-[#FF3030]/30" />
	</div>
</section>
