---
import SiteHead from '../components/siteHead.astro'
import Footer from '../components/footer.astro'

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<SiteHead title={title} description={description} />
	</head>
	<body
		class="m-auto flex min-h-screen max-w-[600px] flex-col gap-8 bg-gradient-to-t from-slate-900 to-slate-800 p-12 selection:bg-blue-400"
	>
		<slot />
		<Footer />
	</body>
</html>
